.str-chat-channel.messaging .str-chat__main-panel {
    padding: 0;
}

.messages {
    display: flex;
    flex-grow: inherit;
    flex-direction: column;
    overflow: hidden;
}

.messaging.str-chat .str-chat__header-livestream {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}

.header {
    display: flex;
}

.str-chat.messaging,
.str-chat.commerce {
    height: 100%;
}

.container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.inputBar {
    display: flex;
    align-items: center;
    background-color: white;
}

.str-chat__input-flat .str-chat__textarea > textarea {
    padding-right: 0;
}

.str-chat__header-hamburger {
    display: none;
}

.str-chat__message-simple--me .str-chat__message-data,
.str-chat__message-simple-data {
    white-space: normal;
    width: 80vw;
}

@media screen and (max-width: 1023px) {
    .container {
        height: calc(100vh - 70px);
    }
}
